/*utility*/
:root {
    --ms-primary: #1b72e8;
    --ms-search: #e5e5e5;
}

.bg_search {
    background-color: var(--ms-search);
}

.bg_white {
    background-color: white;
}

.bg_tmain {
    background-color: var(--ms-primary);
}

.bg_pillt{
    background-color: #165bba;
    color: white;
}

.h_25 {
    height: 25px;
}

.w_30px {
    width: 30px;
}

/*end utility*/




/*MAIN*/

/*sidebar*/
.sidebar {
    width: 150px;
    height: calc(100vh - 55px);
    background-color: var(--sp-sidebar);
    color: var(--sp-white);
    flex-direction: column;
    justify-content: space-between;;
    background-image: url(../img/sidebar-bg.png);
    background-position: center;
    background-color: #051e34;
}

.col-12>span {
     color: white;
     
}
/*end sidebar*/


/*main*/
.bool_info {
    height: 250px;
    width: calc(100% - 200px);
}

.app_badge {
    display: none;
}

.main_center {
    height: calc(100vh - 55px);
    flex: 1;
    overflow: auto;
}

/*end main*/

/*hover effects*/

.sidebar .container .row>.col-12:hover {
    background-color: rgba(255, 255, 255, 0.364);
}

/*MEDIA*/

@media screen and (max-width: 990px) {
    .nav-link {
        display: inline-block;
    }

    .navbar-brand>:nth-child(2) {
        display: none;
    }
    .sidebar {
        width: 50px;
        height: calc(100vh - 56px);
    }

    .sidebar .container .row .col-12 a>span {
        display: none;
    }

    .sidebar .container>.row{
        justify-content: center;
    }
}



@media screen and (min-width:990px) {
    .navbar-brand>:first-child {
        display: none;
    }
    .plus{
        display: none;
    }

    .app_badge {
        display: inline-block;
    }

}

@media screen and (min-width:580px) {
    .bool_info {
        height: 110px;
       }
}


/*END MEDIA*/